body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    color: #d32f2f;
}
h3 {
    color: #1976d2;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
label {
    margin-bottom: 10px;
    display: block;
}
button {
    background: rgba(255, 255, 255, 0.7);
    color: #d32f2f;
    border: 1px solid #d32f2f;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
button:hover {
    background: rgba(255, 255, 255, 0.9);
}
#totalPrice {
    font-weight: bold;
    color: #d32f2f;
}
#cart {
    margin-top: 30px;
}
.order {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.order button {
    background: rgba(255, 255, 255, 0.7);
    color: #f44336;
    border: 1px solid #f44336;
    margin-top: 10px;
}
.order button:hover {
    background: rgba(255, 255, 255, 0.9);
}